cluster:
  inlineManifests:
    - name: secrets
      contents: |-
        apiVersion: v1
        kind: Namespace
        metadata:
          name: argocd
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: repo-github
          namespace: argocd
          labels:
            argocd.argoproj.io/secret-type: repository
        type: Opaque
        stringData:
          type: git
          url: ${ssh_clone_url}
          sshPrivateKey: |
            ${ssh_deploy_key}
        ---
        apiVersion: v1
        kind: Namespace
        metadata:
          name: traefik
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: cloudflare-api-token
          namespace: traefik
        type: Opaque
        stringData:
          api-token: ${cloudflare_cert_manager_token}
        ---
        apiVersion: v1
        kind: Namespace
        metadata:
          name: cloudflared
        ---
        apiVersion: v1
        kind: Secret
        metadata:
          name: tunnel
          namespace: cloudflared
        type: Opaque
        stringData:
          token: ${cloudflare_tunnel_token}